{% extends 'base.html' %}



{% block content %}
<div class="camera"></div>
<div class="kontrolka">
    <div>
        <div  style="width: 320px; height: 400px;"></div><div  style="width: 320px; height: 400px;"><img src="up.png"></div><div  style="width: 320px; height: 400px;"></div>
    </div>
    <div  style="width: 320px; height: 400px;"><div  style="width: 320px; height: 400px;"><img src="left.png"></div><div  style="width: 320px; height: 400px;"><img src="stop.jpg"></div><div  style="width: 320px; height: 400px;"><img src="right.jpg"></div>
    </div>
    <div  style="width: 320px; height: 400px;"><div></div><div  style="width: 320px; height: 400px;"><img src="down.png"></div><div></div>
    </div>
</div>


{% endblock %}